/*****************************/
/* Header */
/*****************************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-primary-light);
  height: 9.6rem;
  padding: 0 4.8rem;
}

.header-logo {
  height: 2.2rem;
}

.header-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.header-nav-link {
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 500;

  transition: color var(--animation-speed);
}

.header-nav-link:link,
.header-nav-link:visited {
  color: var(--color-gray-dark);
}

.header-nav-link:hover,
.header-nav-link:active {
  color: var(--color-primary-dark);
}

.header-nav-link.header-nav-link-primary {
  padding: 1.6rem 2rem;
  border-radius: var(--btn-border-radius);
  color: var(--color-white);

  transition: background-color var(--animation-speed);
}

.header-nav-link.header-nav-link-primary:link,
.header-nav-link.header-nav-link-primary:visited {
  background-color: var(--color-primary);
}

.header-nav-link.header-nav-link-primary:hover,
.header-nav-link.header-nav-link-primary:active {
  background-color: var(--color-primary-dark);
}

/*****************************/
/* Hero */
/*****************************/

.section-hero {
  background-color: var(--color-primary-light);
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.5;
  color: var(--color-gray);
  margin-bottom: 4.8rem;
}

.hero-btn-container {
  display: flex;
  gap: 1.6rem;
  margin-bottom: 8rem;
}

.hero-delivered-meals {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.hero-delivered-meals-images {
  display: flex;
  justify-content: center;
}

.hero-delivered-meals-images img {
  height: 4.8rem;
  width: 4.8rem;
  border: 3px solid var(--color-primary-light);
  border-radius: 50%;
  margin-right: -1.6rem;
}

.hero-delivered-meals-images img:last-child {
  margin-right: 0;
}

.hero-delivered-meals-text {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--color-gray);
}

.hero-delivered-meals-text strong {
  color: var(--color-primary-dark);
  font-weight: 700;
}

.hero-img {
  width: 100%;
}

/*****************************/
/* Featured */
/*****************************/

.section-featured {
  padding: 4.8rem 0;
}

.heading-featured {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing-far);
  font-weight: 500;
  color: var(--color-gray-light-second);
  text-align: center;
  margin-bottom: 2.4rem;
}

.featured-logos {
  display: flex;
  justify-content: space-around;
}

.featured-logos img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 50%;
}

/*****************************/
/* How it works */
/*****************************/

.section-how {
  padding: 9.6rem 0;
}

.how-step-number {
  font-size: 9.6rem;
  font-weight: 600;
  color: var(--color-gray-light);
  margin-bottom: 1.2rem;
}

.how-step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.how-step-image-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.how-step-image-box::before,
.how-step-image-box::after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.how-step-image-box::before {
  width: 60%;
  /* height: 60%; */
  padding-bottom: 60%;
  background-color: var(--color-primary-light);
  z-index: -2;
}

.how-step-image-box::after {
  width: 45%;
  /* height: 45%; */
  padding-bottom: 45%;
  background-color: var(--color-primary-light-second);
  z-index: -1;
}

.how-step-img {
  width: 35%;
}
