* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  /* Converts default 16px size to convenient 10px */
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #000;
}

:root {
  /* Variables */
  --color-primary: #e67e22;
  --color-primary-light: #fdf2e9;
  --color-primary-dark: #cf711f;
  --color-white: #fff;
  --color-gray: #555;
  --color-dark-gray: #333;

  --btn-border-radius: 8px;

  --animation-speed: 250ms;
}

/*****************************/
/* General components */
/*****************************/

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: var(--btn-border-radius);

  transition: background-color var(--animation-speed);
}

.btn-full {
  color: var(--color-white);
}

.btn-full:link,
.btn-full:visited {
  background-color: var(--color-primary);
}

.btn-full:hover,
.btn-full:active {
  background-color: var(--color-primary-dark);
}

.btn-outline {
  color: var(--color-gray);
}

.btn-outline:link,
.btn-outline:visited {
  background-color: var(--color-white);
}

.btn-outline:hover,
.btn-outline:active {
  background-color: var(--color-primary-light);

  /* Trick to add border inside */
  box-shadow: inset 0 0 0 3px var(--color-white);
}

/*****************************/
/* Header */
/*****************************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-primary-light);
  height: 9.6rem;
  padding: 0 4.8rem;
}

.header-logo {
  height: 2.2rem;
}

.header-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.header-nav-link {
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 500;

  transition: color var(--animation-speed);
}

.header-nav-link:link,
.header-nav-link:visited {
  color: var(--color-dark-gray);
}

.header-nav-link:hover,
.header-nav-link:active {
  color: var(--color-primary-dark);
}

.header-nav-link.header-nav-link-primary {
  padding: 1.6rem 2rem;
  border-radius: var(--btn-border-radius);
  color: var(--color-white);

  transition: background-color var(--animation-speed);
}

.header-nav-link.header-nav-link-primary:link,
.header-nav-link.header-nav-link-primary:visited {
  background-color: var(--color-primary);
}

.header-nav-link.header-nav-link-primary:hover,
.header-nav-link.header-nav-link-primary:active {
  background-color: var(--color-primary-dark);
}

/*****************************/
/* Hero */
/*****************************/

.section-hero {
  background-color: var(--color-primary-light);
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.hero-title {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.05;
  letter-spacing: -0.5px;
  color: var(--color-dark-gray);
  margin-bottom: 3.6rem;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.5;
  color: var(--color-gray);
  margin-bottom: 4.8rem;
}

.hero-btn-container {
  display: flex;
  gap: 1.6rem;
  margin-bottom: 8rem;
}

.hero-delivered-meals {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.hero-delivered-meals-images {
  display: flex;
  justify-content: center;
}

.hero-delivered-meals-images img {
  height: 4.8rem;
  width: 4.8rem;
  border: 3px solid var(--color-primary-light);
  border-radius: 50%;
  margin-right: -1.6rem;
}

.hero-delivered-meals-images img:last-child {
  margin-right: 0;
}

.hero-delivered-meals-text {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--color-gray);
}

.hero-delivered-meals-text strong {
  color: var(--color-primary-dark);
  font-weight: 700;
}

.hero-img {
  width: 100%;
}
