/*****************************/
/* Header */
/*****************************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-primary-light);
  height: 9.6rem;
  padding: 0 4.8rem;
}

.header-logo {
  height: 2.2rem;
}

.header-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.header-nav-link {
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 500;

  transition: color var(--animation-speed);
}

.header-nav-link:link,
.header-nav-link:visited {
  color: var(--color-gray-dark);
}

.header-nav-link:hover,
.header-nav-link:active {
  color: var(--color-primary-dark);
}

.header-nav-link.header-nav-link-primary {
  padding: 1.6rem 2rem;
  border-radius: var(--btn-border-radius);
  color: var(--color-white);

  transition: background-color var(--animation-speed);
}

.header-nav-link.header-nav-link-primary:link,
.header-nav-link.header-nav-link-primary:visited {
  background-color: var(--color-primary);
}

.header-nav-link.header-nav-link-primary:hover,
.header-nav-link.header-nav-link-primary:active {
  background-color: var(--color-primary-dark);
}

/*****************************/
/* Hero */
/*****************************/

.section-hero {
  background-color: var(--color-primary-light);
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.5;
  color: var(--color-gray);
  margin-bottom: 4.8rem;
}

.hero-btn-container {
  display: flex;
  gap: 1.6rem;
  margin-bottom: 8rem;
}

.hero-delivered-meals {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.hero-delivered-meals-images {
  display: flex;
  justify-content: center;
}

.hero-delivered-meals-images img {
  height: 4.8rem;
  width: 4.8rem;
  border: 3px solid var(--color-primary-light);
  border-radius: 50%;
  margin-right: -1.6rem;
}

.hero-delivered-meals-images img:last-child {
  margin-right: 0;
}

.hero-delivered-meals-text {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--color-gray);
}

.hero-delivered-meals-text strong {
  color: var(--color-primary-dark);
  font-weight: 700;
}

.hero-img {
  width: 100%;
}

/*****************************/
/* Featured */
/*****************************/

.section-featured {
  padding: 4.8rem 0;
}

.heading-featured {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing-far);
  font-weight: 500;
  color: var(--color-gray-light-second);
  text-align: center;
  margin-bottom: 2.4rem;
}

.featured-logos {
  display: flex;
  justify-content: space-around;
}

.featured-logos img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 50%;
}

/*****************************/
/* How it works */
/*****************************/

.section-how {
  padding: 9.6rem 0;
}

.how-step-number {
  font-size: 9.6rem;
  font-weight: 600;
  color: var(--color-gray-light);
  margin-bottom: 1.2rem;
}

.how-step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.how-step-image-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.how-step-image-box::before,
.how-step-image-box::after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.how-step-image-box::before {
  width: 60%;
  /* height: 60%; */
  padding-bottom: 60%;
  background-color: var(--color-primary-light);
  z-index: -2;
}

.how-step-image-box::after {
  width: 45%;
  /* height: 45%; */
  padding-bottom: 45%;
  background-color: var(--color-primary-light-second);
  z-index: -1;
}

.how-step-img {
  width: 35%;
}

/*****************************/
/* Meals */
/*****************************/

.section-meals {
  padding: 4.8rem 0;
}

.meals-card {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all var(--animation-speed);
}

.meals-card:hover {
  transform: translateY(-2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.meals-card-img {
  width: 100%;
}

.meals-card-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.meals-card-tag-list {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;
}

.meals-card-tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--color-gray-dark);
  border-radius: 1000px; /* Super large value */
}

.meals-card-tag--vegetarian {
  background-color: var(--color-green);
}

.meals-card-tag--vegan {
  background-color: var(--color-lime);
}

.meals-card-tag--paleo {
  background-color: var(--color-yellow);
}

.meals-card-title {
  font-size: 2.4rem;
  color: var(--color-gray-dark);
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.meals-card-attribute-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.meals-card-attribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.meals-card-attribute-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: var(--color-primary);
}

.all-recipes {
  text-align: center;
  font-size: 1.8rem;
}

/*****************************/
/* Testimonials */
/*****************************/

.section-testimonials {
  background-color: var(--color-primary-light);
  display: grid;
  grid-template-columns: 11fr 9fr;
  align-items: center;
}

.testimonials-container {
  padding: 9.6rem;
}

.testimonials-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 8rem;
}

.testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.testimonial-name {
  font-size: 1.6rem;
  color: var(--color-gray-light-third);
  margin-bottom: 1.6rem;
}

.testimonials-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}

.testimonials-gallery-item {
  overflow: hidden;
}

.testimonials-gallery-item img {
  display: block;
  width: 100%;
  transition: all var(--animation-speed);
}

.testimonials-gallery-item img:hover {
  transform: scale(1.1);
}

/*****************************/
/* Pricing */
/*****************************/

.section-pricing {
  padding: 9.6rem 0;
}

.section-pricing-header {
  text-align: center;
  margin-bottom: 4.8rem;
}

.pricing-plan {
  border-radius: 11px;
  width: 70%;
}

.pricing-plan--starter {
  justify-self: end;
  border: 2px solid var(--color-primary-light);
  padding: 4.6rem;
}

.pricing-plan--complete {
  background-color: var(--color-primary-light);
  padding: 4.8rem;
  position: relative;
  overflow: hidden;
}

.pricing-plan--complete::after {
  content: "Best value";
  position: absolute;
  top: 6%;
  right: -18%;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  background-color: var(--color-yellow);
  padding: 0.8rem 8rem;
  transform: rotate(45deg);
}

.pricing-plan-name {
  color: var(--color-primary-dark);
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.75;
  margin-bottom: 3.2rem;
}

.pricing-plan-price {
  color: var(--color-gray-dark);
  font-size: 6.2rem;
  font-weight: 600;
  margin-bottom: 1.6rem;
}

.pricing-plan-price span {
  font-size: 3rem;
  font-weight: 500;
  margin-right: 0.8rem;
}

.pricing-plan-text {
  font-size: 1.6rem;
  line-height: 1.6;
  color: var(--color-gray-light-third);
}

.pricing-plan-signup {
  text-align: center;
  margin-top: 4.8rem;
}

.pricing-plan .list-item span {
  color: var(--color-gray);
}

.pricing-details {
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: center;
  color: var(--color-gray);
}

.pricing-feature-icon {
  color: var(--color-primary);
  height: 3.2rem;
  width: 3.2rem;
  margin-bottom: 3.2rem;
  background-color: var(--color-primary-light);
  padding: 1.6rem;
  border-radius: 50%;
}

.pricing-feature-title {
  font-size: 2.4rem;
  color: var(--color-gray-dark);
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.pricing-feature-text {
  font-size: 1.8rem;
  line-height: 1.8;
  color: var(--color-gray);
}

/*****************************/
/* Call to action */
/*****************************/

.section-cta {
  padding: 4.8rem 0 12.8rem;
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;
  background-image: linear-gradient(
    to right bottom,
    var(--color-primary-light-third),
    var(--color-primary)
  );
  overflow: hidden;
}

.cta-form-box {
  color: var(--color-primary-dark-second);
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
}

.cta .heading-secondary {
  color: inherit;
  margin-bottom: 3.2rem;
}

.cta-form-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.cta-img-box {
  background-image: linear-gradient(
      to right bottom,
      var(--color-primary-light-third-transparent),
      var(--color-primary-transparent)
    ),
    url("../resources/img/eating.jpg");
  background-size: cover;
  background-position: center;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: var(--color-gray);
  border: none;
  background-color: var(--color-primary-light);
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta-form input::placeholder {
  color: var(--color-gray-light-forth);
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem var(--color-primary-light-transparent);
}

/*****************************/
/* Footer */
/*****************************/

.footer {
  padding: 12.8rem 0;
  color: var(--color-gray);
  border-top: 1px solid #eee;
}

.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.footer-logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.footer-social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.footer-social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: var(--color-gray-light-second);
  margin-top: auto;
}

.footer-col-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.footer-contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.footer-address {
  margin-bottom: 2.4rem;
}

.footer-col-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link,
.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: var(--color-gray-light-second);
  transition: all var(--animation-speed);
}

.footer-link:hover,
.footer-link:active {
  color: var(--color-gray);
}
